<ion-header>
  <ion-toolbar>
    <ion-title>Mojix Music App</ion-title>
    <div slot="end">
      <ion-label>Music/Movie</ion-label>
      <ion-toggle></ion-toggle>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-searchbar (ionChange)="searchArtist($event)"></ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let soung of soungs; #i = index" data-index="#i">
      <ion-card color="$index%2 != 0 ? 'lightgrey' : 'grey'">
        <ion-img [src]="soung.artworkUrl100"></ion-img>
        <ion-card-header>
          <ion-label>{{soung.artistName}}</ion-label>
        </ion-card-header>
        <ion-card-content>
          <ion-label>{{soung.trackName}}</ion-label>
        </ion-card-content>
        <ion-label>{{soung.trackPrice}} {{soung.currency}}</ion-label>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
  <app-song></app-song>
</ion-footer>